<script>
    function addAccount(){
        $('#rowContent').load('/account/add');
    }
</script>

<div class="header">

    <h1 class="page-title">用户列表</h1>
</div>

<ul class="breadcrumb">
    <li><a href="index.html">首页</a> <span class="divider">/</span></li>
    <li class="active">帐号管理</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="btn-toolbar">
            <button class="btn btn-primary" onclick="addAccount()"><i class="icon-plus"></i> 添加帐号</button>
            <button class="btn">导入</button>
            <button class="btn">导出</button>
            <div class="btn-group">
            </div>
        </div>
        <div class="well">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>帐号</th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>部门</th>
                    <th>最后登录时间</th>
                    <th style="width: 26px;"></th>
                </tr>
                </thead>
                <tbody>
                <% for (var i=0;i<accountList.length;i++) {
                      account = accountList[i];
                %>
                <tr>
                    <td><%= i %></td>
                    <td><%= account.account %></td>
                    <td><%= account.username %></td>
                    <td><%= account.position %></td>
                    <td><%= account.deptName %></td>
                    <td><%= account.lastLogin %></td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#"><<</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">>></a></li>
            </ul>
        </div>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
