<ul class="breadcrumb">
    <li><a href="#" onclick="loadUrl('/')">首页</a> <span class="divider">/</span></li>
    <li><a href="#" onclick="loadUrl('/linkman/list')">联系人管理</a> <span class="divider">/</span></li>
    <li class="active">添加联系人</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="btn-toolbar">
            <button class="btn btn-primary" onclick="saveLinkMan()"><i class="icon-save"></i> 保存</button>
            <div class="btn-group">
            </div>
        </div>
        <div class="well">
            <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a href="#home" data-toggle="tab">Profile</a></li>-->
            <!--<li><a href="#profile" data-toggle="tab">Password</a></li>-->
            <!--</ul>-->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <form id="tab" class="form-horizontal">
                        <div class="control-group">
                            <label class='control-label' for="name">姓名：</label>
                            <div class="controls">
                                <input type="text" id="name" name="name" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="englishName">英文名：</label>
                            <div class="controls">
                                <input type="text" id="englishName" name="englishName" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="sex">性别：</label>
                            <div class="controls">
                                <input name="sex" id="sex" type="text" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label  class='control-label' for="position">职位：</label>
                            <div class="controls">
                                <input type="text" name="position" id="position" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="department">部门：</label>
                            <div class="controls">
                                <input type="text" id="department" name="department" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="phoneNo">联系电话：</label>
                            <div class="controls">
                                <input name="phoneNo" id="phoneNo" type="text" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="email">Email：</label>
                            <div class="controls">
                                <input type="text" id="email" name="email" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="faxNo">传真号：</label>
                            <div class="controls">
                                <input type="text" id="faxNo" name="faxNo" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="assistant">助手：</label>
                            <div class="controls">
                                <input type="text" id="assistant" name="assistant" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="assistantPhoneNo">助手电话：</label>
                            <div class="controls">
                                <input type="text" id="assistantPhoneNo" name="assistantPhoneNo" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="QQ">QQ：</label>
                            <div class="controls">
                                <input type="text" id="QQ" name="QQ" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="MSN">MSN：</label>
                            <div class="controls">
                                <input type="text" id="MSN" name="MSN" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="skype">Skype：</label>
                            <div class="controls">
                                <input type="text" id="skype" name="skype" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="twitter">Twitter：</label>
                            <div class="controls">
                                <input type="text" id="twitter" name="twitter" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="facebook">facebook：</label>
                            <div class="controls">
                                <input type="text" id="facebook" name="facebook" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="MSN">Weibo：</label>
                            <div class="controls">
                                <input type="text" id="weibo" name="weibo" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="birthday">生日：</label>
                            <div class="controls">
                                <input type="text" id="birthday" name="birthday" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="address">地址：</label>
                            <div class="controls">
                                <input type="text" id="address" name="address" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="salesState">销售状态：</label>
                            <div class="controls">
                                <input type="text" id="salesState" name="salesState" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="intention">购买意向：</label>
                            <div class="controls">
                                <input type="text" id="intention" name="intention" value="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class='control-label' for="remark">备注：</label>
                            <div class="controls">
                                <input type="text" id="remark" name="remark" value="" class="input-xlarge">
                            </div>
                        </div>
                        <!--<div class="form-actions">
                            <button class="btn btn-primary" type="button" onclick="saveUser()">保存更改</button>
                            <button class="btn">取消</button>
                        </div>-->
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    function saveLinkMan(){
        var linkmanData = $('#tab').serialize();
        $.post('/linkman', linkmanData, function(data){
            if(data.msg){
                alert(data.msg);
            }
            goback();
        }, 'json');
    }
</script>